%v-box {
  display: flex;
  flex-direction: column;
}
%h-box {
  display: flex;
}
%vh-content-center {
  justify-content: center;
}

%vh-content-between {
  justify-content: space-between;
}

%vh-content-around {
  justify-content: space-around;
}

%vh-content-start {
  justify-content: flex-start;
}

%vh-content-end {
  justify-content: flex-end;
}

%vh-items-center {
  align-items: center;
}

%vh-items-start {
  align-items: flex-start;
}

%vh-items-end {
  align-items: flex-end;
}
.v-box {
  @extend %v-box;
}

.h-box {
  @extend %h-box;
}
.vh-grow {
  flex-grow: 1;
}

.t-center {
  text-align: center;
}
.vh-content-center {
  @extend %vh-content-center;
}
.vh-items-center {
  @extend %vh-items-center;
}
.flex-center {
  @extend %h-box, %vh-content-center, %vh-items-center;
}

.h-between-center {
  @extend %h-box, %vh-content-between, %vh-items-center;
}
.v-between-center {
  @extend %v-box, %vh-content-between, %vh-items-center;
}
.v-start-center {
  @extend %v-box, %vh-content-start, %vh-items-center;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
$unit: 1px;
@for $i from 5 through 100 {
  @if $i%5 == 0 {
    .m#{$i} {
      margin: $i * $unit !important;
    }
    .p#{$i} {
      padding: $i * $unit !important;
    }
    .mr#{$i} {
      margin-right: $i * $unit !important;
    }
    .ml#{$i} {
      margin-left: $i * $unit !important;
    }
    .mb#{$i} {
      margin-bottom: $i * $unit !important;
    }
    .mt#{$i} {
      margin-top: $i * $unit !important;
    }
    .pr#{$i} {
      padding-right: $i * $unit !important;
    }
    .pl#{$i} {
      padding-left: $i * $unit !important;
    }
    .pb#{$i} {
      padding-bottom: $i * $unit !important;
    }
    .pt#{$i} {
      padding-top: $i * $unit !important;
    }
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.scroll-y {
  height: 100%;
  overflow-y: auto;
}

.ellipsis-one {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.tljustify {
  text-align-last: justify;
}
.primary-color {
  color: #1890ff;
}
.danger-color {
  color: red;
}
.warning-color {
  color: #faad14;
}
.nowrap {
  white-space: nowrap;
}
