@import 'mixin';
.ant-layout {
  @include bg_color($background-color-theme1);
}
// ant desing 样式修改

/* 分页 start */
.ant-pagination-total-text {
  line-height: 32px !important;
}
.small-pagination {
  .ant-pagination-total-text {
    line-height: 24px !important;
  }
}

/* 分页 end */

/* modal start */
%custom-modal {
  .ant-modal-body {
    max-height: 720px;
    padding-bottom: 56px;
    overflow-y: auto;
  }
  .ant-card-body {
    height: 620px;
    overflow-y: auto;
    background-color: #f5f6f7;
    border-radius: 10px;
  }
  .ant-card-bordered {
    border-radius: 10px;
  }
}
.custom-modal {
  @extend %custom-modal;
}
.ant-modal-body {
  .ant-form-item-label {
    font-size: 14px;
    font-family: AlibabaPuHuiTi, AlibabaPuHuiTi-Medium, sans-serif;
  }
}
.custom-modal-h {
  @extend %custom-modal;
  .ant-modal-body {
    height: 700px;
  }
}
.ant-modal-header {
  padding-top: 30px !important;
  border-bottom: none !important;
  border-radius: 20px 20px 0 0 !important;
  .ant-modal-title {
    font-size: 16px;
    font-family: AlibabaPuHuiTi-Medium, sans-serif;
  }
}
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.ant-modal-content {
  border-radius: 20px !important;
}

/* modal end */

/* 调整左侧菜单 start */
.ant-layout-sider-collapsed {
  width: 80px !important;
  min-width: 80px !important;
}

.custom-sider {
  padding: 10px 0;
  padding-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 30px;
  .p-title {
    font-family: AlibabaPuHuiTi-Medium, sans-serif;
  }
  .ant-menu-submenu-selected {
    .p-title {
      color: $color-primary !important;
    }
    .ant-menu-submenu-arrow::before {
      background: $color-primary !important;
    }
    .ant-menu-submenu-arrow::after {
      background: $color-primary !important;
    }
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    width: 12px;
    background-color: #d0d2d3;
    background-image: none;
    transform: rotate(45deg) translateX(-5px);
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    width: 12px;
    background-color: #d0d2d3;
    background-image: none;
    transform: rotate(-45deg) translateX(5.5px);
  }

  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    transform: rotate(45deg) translateX(5.5px);
  }
  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    transform: rotate(-45deg) translateX(-5.5px);
  }

  .ant-menu-item-selected {
    color: $color-primary !important;
    .p-title {
      color: $color-primary !important;
    }
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
  }

  .ant-menu-item {
    color: $text-color;
    font-family: AlibabaPuHuiTi-Regular, sans-serif;
  }
  .ant-menu-item:hover {
    .p-title {
      color: $color-primary !important;
    }
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover {
    .p-title {
      color: $color-primary !important;
    }
    .ant-menu-submenu-arrow::before {
      background: $color-primary !important;
    }
    .ant-menu-submenu-arrow::after {
      background: $color-primary !important;
    }
  }

  .ant-menu-inline .ant-menu-item::after {
    border-right: none;
  }
  .ant-menu-item:active {
    background-color: transparent;
  }
  .ant-menu-inline,
  .ant-menu-inline-collapsed {
    border-right: none;
  }
}

/* 调整左侧菜单 end */

/*
   调整表单样式 start
  */
.form-item-mb10 {
  .ant-form-item {
    margin-bottom: 10px !important;
  }
}

/* 全局表单样式 start */
.ant-input-number-handler-wrap {
  border-radius: 0 10px 10px 0 !important;
}
.ant-input,
.ant-input-number,
.ant-select {
  // 高度全局 宽度非全局
  height: 40px !important;
}

.ant-select-selection--single {
  height: 40px !important;
}
// 多选框高度40
.ant-select-selection--multiple {
  padding-bottom: 1px !important;
  ul > li {
    height: 28px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
    line-height: 26px !important;
  }
  /* stylelint-disable-next-line */
  .ant-select-selection__rendered > ul > li {
    height: 28px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
    line-height: 26px !important;
  }
  /* stylelint-disable-next-line */
  .ant-select-selection__clear {
    margin-top: -2px !important;
  }
}
/* stylelint-disable-next-line */
.ant-select-selection__rendered,
.ant-input-number {
  line-height: 40px !important;
}

.ant-select-selection {
  border-radius: 10px !important;
}

.ant-input,
.ant-input-number {
  border-radius: 10px !important;
}
textarea .ant-input {
  height: auto !important;
}
.no-radius .ant-input {
  border-radius: unset !important;
}
.input-select .ant-input {
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
.input-select .ant-input-group-addon:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.ant-cascader-picker {
  border-radius: 10px !important;
}

/* 全局表单样式 end */
.ant-pagination {
  .ant-input,
  .ant-select {
    height: 32px !important;
  }
  .ant-select-selection--single {
    height: 32px !important;
  }
  /* stylelint-disable-next-line */
  .ant-select-selection__rendered {
    line-height: 32px !important;
  }

  .ant-select-selection {
    border-radius: 4px !important;
  }
  .ant-input {
    border-radius: 4px !important;
  }
}
.index-search-form-model {
  .ant-form-item {
    .ant-input,
    .ant-select {
      width: 180px;
      height: 40px;
    }
    .ant-calendar-picker,
    .range-picker-showtime {
      width: auto !important;
      .ant-input {
        width: 300px;
      }
    }
    .ant-select-selection--single {
      height: 40px;
    }
    /* stylelint-disable-next-line */
    .ant-select-selection__rendered {
      line-height: 40px;
    }
    .ant-form-item-children {
      > button:nth-child(1) {
        margin-right: 0;
      }
    }
  }
}
.home {
  .index-search-form-model {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
  .ant-modal-footer {
    display: none !important;
  }

  /* 调整栅格布局导致的横向滚动条 start */

  .ant-row-flex,
  .ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    > div:first-child {
      padding-left: 0 !important;
    }
    > div:last-child {
      padding-right: 0 !important;
    }
  }

  /* 调整栅格布局导致的横向滚动条 end */
}

/* 调整表单样式 end */

/* 调整table start */
.ant-table-header {
  background: #fff !important;
}
// 固定高度的弹窗 下的tabel设置最小高度和固定表头滚动
/* stylelint-disable-next-line */
.custom-modal-h {
  // 查询条件占1行
  .ant-table-content {
    min-height: 510px;
    .ant-table-scroll {
      .ant-table-body {
        max-height: 460px;
        overflow-y: hidden !important;
      }
      .ant-table-header {
        overflow-y: hidden !important;
      }
    }
  }
  // 无查询条件
  .no-search-table {
    .ant-table-content {
      min-height: 565px !important;
      .ant-table-scroll {
        .ant-table-body {
          max-height: 515px;
          overflow-y: hidden !important;
        }
        .ant-table-header {
          overflow-y: hidden !important;
        }
      }
    }
  }
}
.content-rb {
  /* stylelint-disable */
  // content 查询条件仅1行 下的tabel设置最小高度和固定表头滚动
  .ant-table-content {
    min-height: calc(100vh - 341px);
    .ant-table-scroll {
      // 只有表头与body列滚动条都为scroll时，才不会发生表头与body列错位
      .ant-table-body {
        max-height: calc(100vh - 382px);
        overflow-x: auto !important;
        overflow-y: hidden !important;
      }
      .ant-table-header {
        overflow-y: hidden !important;
      }
    }
  }
  /* stylelint-enable */
  // two-row-header-table
  .two-row-header-table {
    .ant-table-content {
      min-height: calc(100vh - 341px) !important;
      .ant-table-scroll {
        .ant-table-body {
          max-height: calc(100vh - 405px);
        }
      }
    }
  }
  // 固定表头 y滚动条始终出现
  .header-fixedy-table {
    .ant-table-content {
      min-height: calc(100vh - 310px);
      .ant-table-scroll {
        // 只有表头与body列滚动条都为scroll时，才不会发生表头与body列错位
        .ant-table-body {
          height: calc(100vh - 360px);
          max-height: calc(100vh - 360px);
          overflow-x: auto !important;
          overflow-y: scroll !important;
        }
        .ant-table-header {
          overflow-y: scroll !important;
        }
      }
    }
  }
  // 固定表头 xy滚动条始终出现
  .two-row-header-fixed-table {
    .ant-table-content {
      min-height: calc(100vh - 341px);
      .ant-table-scroll {
        // 只有表头与body列滚动条都为scroll时，才不会发生表头与body列错位
        .ant-table-body {
          max-height: calc(100vh - 405px);
          overflow-x: scroll !important;
          overflow-y: scroll !important;
        }
        .ant-table-header {
          overflow-y: scroll !important;
        }
      }
      .ant-table-fixed-right {
        .ant-table-body-outer {
          .ant-table-body-inner {
            max-height: calc(100vh - 405px);
          }
        }
      }
    }
  }
}

/* 滚动条 start */

// 表头滚动条颜色改为白色
.ant-table-hide-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: unset;
}
// 移入显示body滚动条
.content-rb,
.custom-modal-h {
  .ant-table-content:hover {
    .ant-table-scroll {
      .ant-table-body {
        overflow-y: auto !important;
      }
      .ant-table-header {
        overflow-y: hidden !important;
      }
    }
  }
}

/* 滚动条 end */

.ant-table-tbody > tr > td {
  // 全局td ellipsis: true start
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // 全局td ellipsis: true end
  height: 46px;
  padding: 10px 16px !important;
  font-family: AlibabaPuHuiTi-Regular, sans-serif;
  text-align: left;
  border: none !important;
  .anticon {
    font-size: 23px;
  }
}
.small-table {
  .ant-table-thead > tr > th {
    padding: 0 !important;
    overflow: hidden;
    > span {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 20px;
      background-color: #f5f5f7;
    }
  }
  .ant-table-tbody > tr > td {
    padding: 0 !important;
    overflow: hidden;
    > span {
      display: block;
      width: 100%;
      padding: 10px 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #f5f5f7;
    }
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: none;
  }
  .ant-table-tbody > tr > td:nth-child(1) > span,
  .ant-table-thead > tr > th:nth-child(1) > span {
    margin-right: 10px;
  }
  .ant-table-tbody > tr > td:nth-child(2) > span,
  .ant-table-thead > tr > th:nth-child(2) > span {
    margin-left: 10px;
    padding-left: 10px;
  }
}
#app .ant-table-thead > tr > th {
  padding: 10px 16px !important;
  font-family: AlibabaPuHuiTi-Medium, sans-serif;
  text-align: left;
  background: #fff !important;
  border-bottom: none !important;
  .ant-table-column-title {
    // 全局th ellipsis: true start
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // 全局th ellipsis: true end
  }
}

.ant-table-placeholder {
  border-top: none !important;
  border-bottom: none !important;
}

.ant-table-pagination.ant-pagination {
  margin-bottom: 0 !important;
}

/* 调整table end */

.content-rb .ant-spin-text {
  font-size: 16px !important;
}

/* 树选择 start */
.tree-select-dropdown {
  .ant-select-tree-switcher {
    transform: translateY(-6px);
  }
}

/* 树选择 end */
