@import 'mixin';
@import 'cover';
@import 'bases';

body,
html {
  @include bg_color($background-color-theme1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-weight: 400;
  font-family: 'AlibabaPuHuiTi-Regular';
  src: url('~@/assets/font/alibabaPuHuiTi/Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: 'AlibabaPuHuiTi-Medium';
  src: url('~@/assets/font/alibabaPuHuiTi/Alibaba-PuHuiTi-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'AlibabaPuHuiTi-Bold';
  src: url('~@/assets/font/alibabaPuHuiTi/Alibaba-PuHuiTi-Bold.ttf');
}

@font-face {
  font-weight: 800;
  font-family: 'AlibabaPuHuiTi-Heavy';
  src: url('~@/assets/font/alibabaPuHuiTi/Alibaba-PuHuiTi-Heavy.ttf');
}
ul,
li {
  list-style: unset;
}
::-webkit-scrollbar {
  //滚动条整体样式 高宽分别对应横竖滚动条的尺寸
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
  //滚动条里面小方块
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #efefef;
  //滚动条里面轨道
  border-radius: 4px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  color: #162146;
  font-size: 20px;
  font-family: AlibabaPuHuiTi-Bold, sans-serif;
  button {
    font-size: 14px;
    font-family: AlibabaPuHuiTi-Regular, sans-serif;
  }
}

.content-rb {
  width: 100%;
  min-height: calc(100vh - 178px);
  max-height: calc(100vh - 178px);
  padding: 30px;
  overflow-y: auto;
  background: white;
  border-radius: 30px;
}
// 空数据居中
.empty-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 向上三角形
.top-triangle {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #ff0037;
  border-left: 5px solid transparent;
}

// 向下三角形
.bottom-triangle {
  width: 0;
  height: 0;
  border-top: 6px solid #5bc43a;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
